{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <title>CRUD</title>
</head>
<body>

<div class="container">

    <div class="text-center">
        <button class="btn btn-primary"> Criar Ordem</button>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover">

            <thead class="table-dark text-center">
            <tr>
                <td>Nome</td>
                <td>TAG</td>
                <td>Data Inicial</td>
                <td>Data Final</td>
                <td>Descrição</td>
                <td></td>
            </tr>
            </thead>
            <tbody class="text-center">
            {% for ordem in ordens %}
            <tr>
                <td>{{ordem.nome}}</td>
                <td>{{ordem.tag}}</td>
                <td>{{ordem.data_incial}}</td>
                <td>{{ordem.data_final}}</td>
                <td>{{ordem.descricao}}</td>
                <td>
                    <button class="button">Ver</button>
                    <button>Deletar</button>
                    <button>Editar</button>
                </td>
            </tr>
            {%endfor%}
            </tbody>
            <tfoot class="table-dark text-center">
            <tr>
                <td>Nome</td>
                <td>TAG</td>
                <td>Data Inicial</td>
                <td>Data Final</td>
                <td>Descrição</td>
                <td></td>
            </tr>
            </tfoot>

        </table>
    </div>
</div>

</body>
</html>

