{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>CRUD EXAMPLE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <h2>Ordens de Serviço</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a class="js-list" data-toggle="tab" href="#list">Ordens de Serviço</a></li>

    <li><a data-toggle="tab" class="js-create-update"
           data-url="{% url 'example:create' %}"

           href="#create-update">Criar/Editar</a></li>

    <li><a data-toggle="tab" href="#detail">Ver</a></li>
  </ul>

  <div class="tab-content">
    <div id="list" class="tab-pane fade in active">
      <h3>Equipamentos</h3>
      {% include 'example/list.html' %}
    </div>

    <div id="create-update" class="tab-pane fade">
      <h3>Criar/Editar</h3>
        {% include 'example/create.html' %}

    </div>
    <div id="detail" class="tab-pane fade">
      <h3>Detalhes</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>


<script src="{% static 'js/example.js' %}"> </script>
<script src="{% static 'js/bootstrap.js' %}"> </script>
</body>
</html>
